---
import { type CollectionEntry, getCollection } from "astro:content";
import { Icon } from "astro-icon/components";
import PostPreview from "@/components/blog/PostPreview.astro";
import Note from "@/components/note/Note.astro";
import SocialList from "@/components/SocialList.astro";
import { getAllPosts } from "@/data/post";
import PageLayout from "@/layouts/Base.astro";
import { collectionDateSort } from "@/utils/date";

// Posts
const allPosts = await getAllPosts();
const allPostsByDate = allPosts.sort(collectionDateSort) as CollectionEntry<"post">[];

// Pinned Posts, set to a max of 3;
const MAX_PINNED_POSTS = 5;
const pinnedPosts = allPostsByDate.filter((p) => p.data.pinned).slice(0, MAX_PINNED_POSTS);

// Notes
const MAX_NOTES = 5;
const allNotes = await getCollection("note");
const latestNotes = allNotes
	.sort(collectionDateSort)
	.slice(0, MAX_NOTES) as CollectionEntry<"note">[];
---

<PageLayout meta={{ title: "Home" }}>
	<div class="index-content">
		<section>
			<h1 class="title mb-4">Hello World!</h1>
			<p>
				Hi, I’m a theme for Astro, a simple starter that you can use to create your website or blog.
				If you want to know more about how you can customise me, add more posts, and make it your own,
				click on the GitHub icon link below and it will take you to my repo.
			</p>
			<p>
				Hi, I’m a theme for Astro, a simple starter that you can use to create your website or blog.
				If you want to know more about how you can customise me, add more posts, and make it your own,
				click on the GitHub icon link below and it will take you to my repo.
			</p>
			<SocialList />
		</section>
		<ul class="list-inside list-disc" role="list">
			<li>I'm ultra fast as I'm a static site</li>
			<li>I'm fully responsive</li>
			<li>I come with a light and dark mode</li>
			<li>I'm easy to customise and add additional content</li>
			<li>I have Tailwind CSS styling</li>
			<li>Shiki code syntax highlighting</li>
			<li>Satori for auto generating OG images for blog posts</li>
		</ul>
		<ol class="list-inside list-decimal" role="list">
			<li>Install dependencies with `pnpm install`.</li>
			<li>Run the dev server with `pnpm dev`.</li>
			<li>Edit content in `src/content/post` and preview changes.</li>
			<li>Build for production using `pnpm build`.</li>
		</ol>
	</div>

	{
		pinnedPosts.length > 0 && (
			<section class="mt-8">
				<h2 class="title mb-4 flex items-center gap-2 text-xl">
					Pinned Posts
          <Icon
								aria-hidden="true"
								class="h-5 w-5 rotate-45 text-accent"
								focusable="false"
								name="mdi:pin-outline"
							/>
				</h2>
				<ul class="space-y-1" role="list">
					{pinnedPosts.map((p) => (
						<li class="grid sm:grid-cols-[auto_1fr]">
							<PostPreview post={p} />
						</li>
					))}
				</ul>
			</section>
		)
	}
	{
		latestNotes.length > 0 && (
			<section class="mt-8">
				<h2 class="title text-accent mb-4 text-xl">
					<a href="/notes/">Notes</a>
				</h2>
				<ul class="space-y-6" role="list">
					{latestNotes.map((note) => (
						<li>
							<Note note={note} as="h3" isPreview />
						</li>
					))}
				</ul>
			</section>
		)
	}
</PageLayout>
